.square {
    height: 80%;
    width: 80%;
}

.square-dev {
    width: 100% !important;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%
}

@media (max-width: 576px) {
    .square {
        height: 80%;
        width: 100%;
    }

    .footer{
        position: relative;
        bottom: 0;
        width: 100%
    }
}

